##引入宏定义
$!{global.vm}

$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/$!{daoPath}", "$!{daoSuffix}.kt")

##使用宏定义设置包后缀
#setPackageSuffix("$!{daoPath}")

import org.babyfish.jimmer.spring.repository.KRepository
#if($autoImportMember)
import $!{tableInfo.savePackageName}.$!{entityPath}.$!{tableInfo.name}
#end

#comment($daoComment)
interface $!{tableInfo.name}$!{daoSuffix} : KRepository<$!{tableInfo.name}, Long> {
}
