##引入宏定义
$!{global.vm}

$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/$!{daoPath}", "$!{daoSuffix}.java")

##使用宏定义设置包后缀
#setPackageSuffix("$!{daoPath}")

import org.babyfish.jimmer.spring.repository.JRepository;
#if($autoImportMember)
import $!{tableInfo.savePackageName}.$!{entityPath}.$!{tableInfo.name};
#end

#comment($daoComment)
public interface $!{tableInfo.name}$!{daoSuffix} extends JRepository<$!{tableInfo.name}, Long> {
}
